<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/headTag :: headTag"><title>Add Camper</title>
    </head>
    <body>


        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>

        <div class="container" >            

            <div><h2>Add a camper</h2></div>
            <form th:object="${camper}" action="notused.html" th:action="@{/camper/addSubmit}" method="get" class="form-horizontal">

                <fieldset>
                    <table class="table table-striped">
                        <tr>
                            <th>First Name</th>
                            <td><input type="hidden" th:field="${camper.id}"/>
                                <ul th:if="${#fields.hasErrors('firstName')}">
                                    <li class="error" th:each="err : ${#fields.errors('firstName')}" th:text="${err}">Input is incorrect</li>
                                </ul>
                                <ul th:if="${not #lists.isEmpty(businessErrors)}">
                                    <li class="error" th:each="err : ${businessErrors}" th:text="${err}">Input is incorrect</li>
                                </ul>
                                
                                <input type="text" value="Joe Smith" th:field="${camper.firstName}"/> 
                            </td>
                        </tr>
                        <tr>
                            <th>Last Name</th>
                            <td>
                                <ul th:if="${#fields.hasErrors('lastName')}">
                                    <li class="error" th:each="err : ${#fields.errors('lastName')}" th:text="${err}">Input is incorrect</li>
                                </ul>
                                <input type="text" value="Joe Smith" th:field="${camper.lastName}"/> 
                            </td>
                        </tr>
                        <tr>
                            <th>DOB</th>
                            <td>
                                <ul th:if="${#fields.hasErrors('dob')}">
                                    <li class="error" th:each="err : ${#fields.errors('dob')}" th:text="${err}">Input is incorrect</li>
                                </ul>                                
                                <input type="text" value="Joe Smith" th:field="${camper.dob}"/> 
                            </td>
                        </tr>
                        <tr>
                            <th>Camp Type</th>
                            <td>
                                <select name="campType">
                                    <option value="0">None</option>
                                    <option th:each="theType : ${session.CampTypes}" th:value="${theType.codeValueSequence}" th:text="${theType.englishDescription}">test</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <div style="text-align: left;" class="form-actions">
                        <button class="btn btn-primary btn-lg" type="submit">Enter</button>
                    </div>

                </fieldset>
            </form>

        </div>

        <div class="container">
            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>
</html>
