<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag"><title>Campers</title>
    </head>
    <body>


        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>

        <div class="container" >            

            <div><h2>Campers</h2><a class="btn btn-primary btn-lg" th:href="@{/camper/add}" th:text="Add" ></a></div>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width: 80px;">Id</th>
                        <th style="width: 80px;">First</th>
                        <th style="width: 80px;">Last</th>
                        <th style="width: 80px;">dob</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="camper : ${theCampers}">
                        <td><a th:href="@{/camper/edit(id=${camper.id},id2=${camper.id})}" th:text="${camper.id}" ></a></td>
                        <td th:text="${camper.firstName}">Joe</td>
                        <td th:text="${camper.lastName}"></td>
                        <td th:text="${camper.dob}"></td>
                    </tr>
                </tbody>
            </table>    

        </div>

        <div class="container">
            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>
</html>
